<nav class="nav">
  <div class="nav-wrapper container">
    <a href="#" class="brand-logo">Logo</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a href="/">To the Home</a></li>
      <li><a href="/users">The Users</a></li>
      <li><a href="/react">The React</a></li>
    </ul>
  </div>
</nav>