<div class="parallax-scroll">
	<ul class="parallax-scroll__items">
		<li>
			<div class="parallax-scroll__item" data-js="parallax.item">
				<div class="parallax-scroll__img" style="background-image: url('img/test-img.jpg')"></div>	
				<div class="parallax-scroll__content">
					<span class="parallax-scroll__heading">Be At One</span>
					<p>How we helped a small cocktail bar in London evolve into a large chain of businesses throughout the UK.</p>
					<ul class="parallax-scroll__services">
						<li>CMS Integration</li>
						<li>Mobile Application</li>
					</ul>
				</div>
				<a href="/" class="parallax-scroll__link">View</a>
			</div>
		</li>
		<li>
			<div class="parallax-scroll__item--alt" data-js="parallax.item">
				<div class="parallax-scroll__img" style="background-image: url('img/test-img.jpg')"></div>	
				<div class="parallax-scroll__content">
					<span class="parallax-scroll__heading">Redwood London</span>
					<p>The world's leading content marketing agency needed their words to work harder.</p>
					<ul class="parallax-scroll__services">
						<li>CMS Integration</li>
						<li>Responsive</li>
					</ul>
				</div>
				<a href="/" class="parallax-scroll__link">View</a>
			</div>
		</li>
	</ul>
</div>