<div class="parallax-card">
	<div class="parallax-card__wrapper">
		<div class="parallax-card__bg" style="background-image:url('img/test-img.jpg')"></div>
		<div class="parallax-card__shiny"></div>
		<div class="parallax-card__content">
			<div class="parallax-card__content-animation">
				<h3 class="parallax-card__title">Very Good Music</h3>
				<div class="parallax-card__inner">
					<p class="parallax-card__copy">Quidem neque vero consectetur, molestias a temporibus dolore deserunt omnis ullam dolorum nesciunt, excepturi architecto ipsam tempore tempora praesentium.</p>
					<ul class="parallax-card__items">
						<li class="parallax-card__item">CMS Integration</li>
						<li class="parallax-card__item">Mobile Application</li>
					</ul>
				</div>	
			</div>
		</div>	
	</div>
</div>