<div class="squishybit">
	<ul class="squishybit__items">
		<li class="squishybit__item">
			Work
		</li>
		<li class="squishybit__item">Services</li>
		<li class="squishybit__item">About</li>
	</ul>
</div>