<div class="hover-svg">
	<svg class="hover-svg__item" viewBox="0 0 250 70" version="1.1" xmlns="http://www.w3.org/2000/svg">
	    <path fill="#e8404f" d="M107,70 L107,68.5714286 C107,68.5714286 107,63.8398801 114.323811,61.4076412 C116.857393,60.5662381 120.267436,60 124.857143,60 C129.480783,60 132.907253,60.574642 135.446528,61.426349 C142.714286,63.8640528 142.714286,68.5714286 142.714286,68.5714286 L142.714286,70 L107,70 Z">
	    </path>
	    <text
	    	class="hover-svg__text" 
	    	x="50%" y="50%" 
	    	font-family="Comic Sans MS" font-size="16" 
	    	text-anchor="middle" dominant-baseline='middle' >
		    {{test-title}}
		</text>
	</svg>
</div>