 <button class="btn--primary">
	<span class="btn__inner">
		<svg class="btn__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 70" preserveAspectRatio="none">
			<path d="M128,70.0333333 L128,68.6 C128,68.6 128,63.8771791 136.953178,61.4312946 C140.081635,60.5766435 144.30325,60 150,60 C155.73786,60 159.979219,60.5849962 163.114381,61.4498407 C172,63.9009673 172,68.6 172,68.6 L172,70.0333333 L128,70.0333333 Z" />
		</svg>	
	</span>
	<span class="btn__text">View all case studies?</span>
</button>