<h1>Add yourself as a user, {{name}}</h1>
<div class="row">
	<div class="col s6">
		<form action="/users" method="post">
			<ul>
				<li>
					<label for="name">Your name</label>
					<input type="text" name="name">
				</li>
				<li>
					<label for="name">Your age</label>
					<input type="text" name="age">		
				</li>
				{{#if errors}}
				<li>
				{{#each errors}}
						<p>{{this.msg}}</p>	
				{{/each}}
				</li>
				{{/if}}
				<li>
					<input type="submit" value="Submit">
				</li>
			</ul>
		</form>		
	</div>
</div>


<h2>All Users</h2>
<ul style="column-count:4">
	{{#each users}}
		<li>
		  <div class="chip">
			    <img src="http://placehold.it/50x50">
			    {{this.name}} | {{this.age}}
		  </div>
		 </li>
	{{/each}}
</ul>