<html>
	<head>
		<title>Basic Template</title>
		<link rel="stylesheet" type="text/css" href="css/materialize.min.css">
	</head>
	{{> header}}
	<body>
		<div class="container">
			{{{body}}}	
		</div>
	</body>
	{{> footer}}
</html>